soaptest2/Service References/subscriptionDetailService/v12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://integration.sprint.com/interfaces/WholesaleSubscriptionDetail/v1/SubscriptionDetailEnvelope.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.sprint.com/interfaces/WholesaleSubscriptionDetail/v1/SubscriptionDetailEnvelope.xsd" version="1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on April 4, 2008 at 1:38:08 PM CDT</xsd:documentation>
    <xsd:documentation>from the SubscriptionDetailEnvelope package with namespace http://integration.sprint.com/interfaces/WholesaleSubscriptionDetail/v1/SubscriptionDetailEnvelope.xsd</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="queryCsaList" type="EmptyElement" />
  <xsd:element name="queryCsaListResponse" type="QueryCsaListReply" />
  <xsd:element name="queryPpSocList" type="QueryPpSocListRequest" />
  <xsd:element name="queryPpSocListResponse" type="QueryPpSocListReply" />
  <xsd:element name="queryReservedSubscription" type="QueryReservedSubscriptionRequest" />
  <xsd:element name="queryReservedSubscriptionResponse" type="QueryReservedSubscriptionReply" />
  <xsd:element name="querySubscription" type="QuerySubscriptionRequest" />
  <xsd:element name="querySubscriptionResponse" type="QuerySubscriptionReply" />
  <xsd:element name="queryValidNpaList" type="QueryValidNpaListRequest" />
  <xsd:element name="queryValidNpaListResponse" type="QueryValidNpaListReply" />
  <xsd:complexType name="AccessChnlAsgm">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="effectiveDate" type="AccsChnlAssignmentEffectiveDate" />
      <xsd:element minOccurs="0" name="expirationDate" type="AccsChnlAssignmentExpirationDate" />
      <xsd:element minOccurs="0" name="networkStatusCode" type="AccsChnlAssignmentNwStatusCode" />
      <xsd:element minOccurs="0" name="naiValue" type="AccsChnlAssignmentValueText" />
      <xsd:element minOccurs="0" name="serviceAttributeTypeCode" type="ServiceAttrTypeCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccessEqpAsgmInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="esnMeidDeclId" type="DeviceSerialNumberDec" />
      <xsd:element minOccurs="0" name="esnMeidHexId" type="DeviceSerialNumberHex" />
      <xsd:element minOccurs="0" name="effectiveDate" type="EquipmentEffectiveDate" />
      <xsd:element minOccurs="0" name="effectiveTime" type="EquipmentEffectiveTime" />
      <xsd:element minOccurs="0" name="expirationDate" type="EquipmentExpirationDate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccessNbrAsgmInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accessNbr" type="MobileDirectoryNumberString" />
      <xsd:element minOccurs="0" name="effectiveDate" type="AccsNbrAssignmentEffectiveDate" />
      <xsd:element minOccurs="0" name="effectiveTime" type="AccsNbrAssignmentEffectiveTime" />
      <xsd:element minOccurs="0" name="expirationDate" type="AccsNbrAssignmentExpirationDate" />
      <xsd:element minOccurs="0" name="expirationTime" type="AccsNbrAssignmentExpirationTime" />
      <xsd:element minOccurs="0" name="msid" type="MobileStationIdentificationNumber" />
      <xsd:element minOccurs="0" name="portDueDate" type="PortDueDate" />
      <xsd:element minOccurs="0" name="portStateInd" type="PortingStatusCode" />
      <xsd:element minOccurs="0" name="switchStatusCode" type="SwitchStautsCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CsaList">
    <xsd:annotation>
      <xsd:documentation>The list of CSAs for the MVNO.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="3000" name="csaRecord" type="CsaRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CsaRecord">
    <xsd:annotation>
      <xsd:documentation>Sequence of 0 to many CSA records, including subMktCode and description.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="csa" type="CommunicationServiceAreaId">
        <xsd:annotation>
          <xsd:documentation>Communication service area (CSA) returned to P2K by EI.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="csaDescription" type="CommunicationServiceAreaName">
        <xsd:annotation>
          <xsd:documentation>CSA description returned to P2K by EI.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetailedServiceList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="100" name="serviceRecord" type="ServiceRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElectronicSerialNumber">
    <xsd:annotation>
      <xsd:documentation>Electronic Serial Number is a unique number that is embedded electronically by the manufacturer into a CDMA wireless communication device that identifies that individual unit. It can be represented in 11-digit decimal or 8-digit hexadecimal (HEX) format. Once ESNs are exhausted, MEIDs are embedded in devices to uniquely identify the device. </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="electronicSerialNumberDec" type="ElectronicSerialNumberDec">
        <xsd:annotation>
          <xsd:documentation>Electronic Serial Number is a unique number that is embedded electronically by the manufacturer into a CDMA wireless communication device that identifies that individual unit. It can be represented in 11-digit decimal or 8-digit hexadecimal (HEX) format. Once ESNs are exhausted, MEIDs are embedded in devices to uniquely identify the device.   This is the 11 digit decimal representation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="electronicSerialNumberHex" type="ElectronicSerialNumberHex">
        <xsd:annotation>
          <xsd:documentation>Electronic Serial Number is a unique number that is embedded electronically by the manufacturer into a CDMA wireless communication device that identifies that individual unit. It can be represented in 11-digit decimal or 8-digit hexadecimal (HEX) format. Once ESNs are exhausted, MEIDs are embedded in devices to uniquely identify the device. This is the 8 digit hexidecimal representation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="EsnList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="999" name="esnRecord" type="AccessEqpAsgmInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MdnList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="999" name="mdnRecord" type="AccessNbrAsgmInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MobileEquipmentIdentifier">
    <xsd:annotation>
      <xsd:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a  physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe. </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="mobileEquipmentIdentifierDec" type="MobileEquipmentIdentifierDec">
        <xsd:annotation>
          <xsd:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe.   This is the 18 character decimal representation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mobileEquipmentIdentifierHex" type="MobileEquipmentIdentifierHex">
        <xsd:annotation>
          <xsd:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a  physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe.  This is the 14 character hexidecimal representation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="NaiList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="999" name="NaiRecord" type="AccessChnlAsgm" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PricePlanList">
    <xsd:annotation>
      <xsd:documentation>List of price plan records</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="100" name="pricePlanRecord" type="ServiceRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductDeployment">
    <xsd:annotation>
      <xsd:documentation>A line item record of a price plan or a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="serviceCode" type="ServiceCode" />
      <xsd:element minOccurs="0" name="serviceEffectiveDate" type="NetworkAccessActivationFromDate" />
      <xsd:element minOccurs="0" name="serviceExpirationDate" type="ProductDeploymentEffectiveThruDate" />
      <xsd:element minOccurs="0" name="callForwardingNumber" type="MobileDirectoryNumberString" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryCsaListReply">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="csaList" type="CsaList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryPpSocListReply">
    <xsd:annotation>
      <xsd:documentation>This API retrieves a list of available services for a given Reseller based on the leaf level CSA provided.  This includes services inherited from the CSA hierarchy.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="socProfileList" type="SocProfileList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryPpSocListRequest">
    <xsd:annotation>
      <xsd:documentation>This API retrieves a list of available services for a given Reseller based on the leaf level CSA provided.  This includes services inherited from the CSA hierarchy.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="csa" type="CommunicationServiceAreaId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryReservedSubscriptionReply">
    <xsd:annotation>
      <xsd:documentation>This API is used to retrieve reserved subscription detail information based on access number.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mdn" type="MobileDirectoryNumberString" />
      <xsd:element minOccurs="0" name="csa" type="CommunicationServiceAreaId" />
      <xsd:element minOccurs="0" name="msid" type="MobileStationIdentificationNumber" />
      <xsd:element minOccurs="0" name="majorAccountNumber" type="MajorAcctNbr" />
      <xsd:element minOccurs="0" name="pricePlan" type="ProductDeployment" />
      <xsd:element minOccurs="0" name="reserveMdnId" type="MDNReservationID" />
      <xsd:element minOccurs="0" name="reserveDate" type="ReserveEffectiveFromDate" />
      <xsd:element minOccurs="0" name="reserveSubscriptionId" type="ReservedSubscriptionId" />
      <xsd:element minOccurs="0" name="reserveTime" type="ReserveEffectiveFromTime" />
      <xsd:element minOccurs="0" name="serviceList" type="ServiceList">
        <xsd:annotation>
          <xsd:documentation>List of service records containing valid feature services the MVNO has defined and available for the CSA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryReservedSubscriptionRequest">
    <xsd:annotation>
      <xsd:documentation>This API is used to retrieve reserved subscription detail information based on access number.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="mdn" type="MobileDirectoryNumberString" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuerySubscriptionReply">
    <xsd:annotation>
      <xsd:documentation>This API provides the ability to access Reseller subscription current and historical information based on access number or Device ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="esnList" type="EsnList" />
      <xsd:element minOccurs="0" name="areMoreEsn" type="MoreRecordsAvailableFlag" />
      <xsd:element minOccurs="0" name="mdnList" type="MdnList" />
      <xsd:element minOccurs="0" name="areMoreMdn" type="MoreRecordsAvailableFlag" />
      <xsd:element minOccurs="0" name="activationDate" type="NetworkAccessActivationFromDate" />
      <xsd:element minOccurs="0" name="csa" type="CommunicationServiceAreaId" />
      <xsd:element minOccurs="0" name="currentNaiList" type="NaiList" />
      <xsd:element minOccurs="0" name="expiredNaiList" type="NaiList" />
      <xsd:element minOccurs="0" name="areMorePricePlans" type="MoreRecordsAvailableFlag" />
      <xsd:element minOccurs="0" name="pricePlanList" type="PricePlanList" />
      <xsd:element minOccurs="0" name="subscriptionEffectiveDate" type="ProductDeploymentEffectiveFromDate" />
      <xsd:element minOccurs="0" name="subscriptionExpireDate" type="ProductDeploymentEffectiveThruDate" />
      <xsd:element minOccurs="0" name="subscriptionTypeCode" type="SubscriptionTypeCd" />
      <xsd:element minOccurs="0" name="areMoreServices" type="MoreRecordsAvailableFlag" />
      <xsd:element minOccurs="0" name="detailedServiceList" type="DetailedServiceList">
        <xsd:annotation>
          <xsd:documentation>List of service records containing valid feature services the MVNO has defined and available for the CSA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuerySubscriptionRequest">
    <xsd:annotation>
      <xsd:documentation>This API provides the ability to access Reseller subscription current and historical information based on access number or Device ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mdn" type="MobileDirectoryNumberString" />
      <xsd:element minOccurs="0" name="esn" type="SerialNumber" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryValidNpaListReply">
    <xsd:annotation>
      <xsd:documentation>This API is used to get the valid NPA List for a given leaf level CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="rowCount" type="RowCountNumber" />
      <xsd:element minOccurs="0" name="validNpaList" type="ValidNpaList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryValidNpaListRequest">
    <xsd:annotation>
      <xsd:documentation>This API is used to get the valid NPA List for a given leaf level CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="csa" type="CommunicationServiceAreaId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SerialNumber">
    <xsd:annotation>
      <xsd:documentation>Serial Number is a valid Electronic Serial Number or Mobile Eequipment Identifier in either decimal or hex format.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="electronicSerialNumber" type="ElectronicSerialNumber" />
      <xsd:element name="mobileEquipmentIdentifier" type="MobileEquipmentIdentifier" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ServiceDescriptionList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="999" name="serviceDescription" type="ServiceDescription">
        <xsd:annotation>
          <xsd:documentation>Service description for member service of a package.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceList">
    <xsd:annotation>
      <xsd:documentation>List of service records containing valid feature services the MVNO has defined and available for the CSA.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="100" name="serviceRecord" type="ProductDeployment" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceRecord">
    <xsd:annotation>
      <xsd:documentation>A line item record of a price plan or a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="serviceCode" type="ServiceCode" />
      <xsd:element minOccurs="0" name="serviceDescription" type="ServiceDescription">
        <xsd:annotation>
          <xsd:documentation>Service Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="effectiveDate" type="NetworkAccessActivationFromDate" />
      <xsd:element minOccurs="0" name="expirationDate" type="ProductDeploymentEffectiveThruDate" />
      <xsd:element minOccurs="0" name="callForwardingNumber" type="MobileDirectoryNumberString" />
      <xsd:element minOccurs="0" name="serviceDescriptionList" type="ServiceDescriptionList">
        <xsd:annotation>
          <xsd:documentation>Sequence of 0 to many Member Service records which contain the service description for a package’s member service(s). This is only provided when returning information in this record for a package service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocProfileList">
    <xsd:sequence>
      <xsd:element maxOccurs="600" name="socProfileRecord" type="SocProfileRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocProfileRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="soc" type="ServiceOrderCode" />
      <xsd:element minOccurs="0" name="effectiveDate" type="ServiceOrderEffectiveFromDate" />
      <xsd:element minOccurs="0" name="serviceCode" type="ServiceCode" />
      <xsd:element minOccurs="0" name="socStatus" type="ServiceOrderStatusCode" />
      <xsd:element minOccurs="0" name="saleEffectiveDate" type="SaleEffectiveFromDate" />
      <xsd:element minOccurs="0" name="saleExpireDate" type="ExpirationDate" />
      <xsd:element minOccurs="0" name="socDescription" type="ServiceOrderDescription" />
      <xsd:element minOccurs="0" name="expirationDate" type="ExpirationDate" />
      <xsd:element minOccurs="0" name="serviceType" type="ServiceTypeCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidNpaList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="999" name="npa" type="NpaNumber" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AccsChnlAssignmentEffectiveDate">
    <xsd:annotation>
      <xsd:documentation>Effective date of the access channel assignment.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsChnlAssignmentExpirationDate">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsChnlAssignmentNwStatusCode">
    <xsd:annotation>
      <xsd:documentation>This attribute reflects the status of the access channel in the network.  Valid Values equal: 
'E' : Enabled for active or future dated
'D' : Disabled for expired
'H' : Hotlined
'S' : Suspended</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsChnlAssignmentValueText">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="75" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccsNbrAssignmentEffectiveDate">
    <xsd:annotation>
      <xsd:documentation>The date an access number assignment is effective.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsNbrAssignmentEffectiveTime">
    <xsd:annotation>
      <xsd:documentation>The time (on the effective date) the access number assignment is effective.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="EffectiveTime" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsNbrAssignmentExpirationDate">
    <xsd:annotation>
      <xsd:documentation>The date the access number assignment is expired.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="AccsNbrAssignmentExpirationTime">
    <xsd:annotation>
      <xsd:documentation>The time (on the expiration date) the access number assignment is expired.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ExpirationTime" />
  </xsd:simpleType>
  <xsd:simpleType name="BooleanFlag">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="CommunicationServiceAreaId">
    <xsd:annotation>
      <xsd:documentation>Communication Service Area Identifier uniquely identifies an instance of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CommunicationServiceAreaName">
    <xsd:annotation>
      <xsd:documentation>Communication Service Area Name the name of a geographic area (CSA) served by a communication service provider, which can be broken down into regional, metropolitan, district and smaller sections called ''leaves.''</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeviceSerialNumberDec">
    <xsd:annotation>
      <xsd:documentation>A Device Serial Number Decimal is the value of a electronic serial number OR Mobile Equipment Identifier(MEID) in decimal format.  This type should be used when it is not known what type the serial number is.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="11" />
      <xsd:maxLength value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeviceSerialNumberHex">
    <xsd:annotation>
      <xsd:documentation>A Device Serial Number Hex is the value of a electronic serial number OR Mobile Equipment Identifier(MEID) in hexidecimal format.  This type should be used when it is not known what type the serial number is.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="8" />
      <xsd:maxLength value="14" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EffectiveTime">
    <xsd:annotation>
      <xsd:documentation>The time of day on the Effective date that something goes into effect or becomes active.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time" />
  </xsd:simpleType>
  <xsd:simpleType name="ElectronicSerialNumberDec">
    <xsd:annotation>
      <xsd:documentation>Electronic Serial Number is a unique number that is embedded electronically by the manufacturer into a CDMA wireless communication device that identifies that individual unit. It can be represented in 11-digit decimal or 8-digit hexadecimal (HEX) format. Once ESNs are exhausted, MEIDs are embedded in devices to uniquely identify the device.   This is the 11 digit decimal representation.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ElectronicSerialNumberHex">
    <xsd:annotation>
      <xsd:documentation>Electronic Serial Number is a unique number that is embedded electronically by the manufacturer into a CDMA wireless communication device that identifies that individual unit. It can be represented in 11-digit decimal or 8-digit hexadecimal (HEX) format. Once ESNs are exhausted, MEIDs are embedded in devices to uniquely identify the device. This is the 8 digit hexidecimal representation.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmptyElement">
    <xsd:annotation>
      <xsd:documentation>An empty element is a zero-length string used to represent a message that has no fields to pass but will be represented in the service.  This will be used to ensure that the API is passing no message data.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EquipmentEffectiveDate">
    <xsd:annotation>
      <xsd:documentation>The date on which the equipment is assigned to a subscription.
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="EquipmentEffectiveTime">
    <xsd:annotation>
      <xsd:documentation>Indicates the time of day on the Equipment Effective Date at which the equipment is assigned to a subscription.
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="EffectiveTime" />
  </xsd:simpleType>
  <xsd:simpleType name="EquipmentExpirationDate">
    <xsd:annotation>
      <xsd:documentation>Indicates the date on which the equipment assignment was no longer effective for the subscription. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ExpirationDate">
    <xsd:annotation>
      <xsd:documentation>The time of day on the Effective date that something goes into effect or becomes active.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ExpirationTime">
    <xsd:annotation>
      <xsd:documentation>The time of day on the expiration date that something expires or becomes inactive.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time" />
  </xsd:simpleType>
  <xsd:simpleType name="IdentifierString">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="MDNReservationID">
    <xsd:annotation>
      <xsd:documentation>The MDN Reservation ID identifies the reservation of one or more MDN in NMS.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MajorAcctNbr">
    <xsd:annotation>
      <xsd:documentation>Major Account Number.   An abbreviated reseller name associated with the reseller liable account.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="PartyOtherIdValue">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MobileDirectoryNumberString">
    <xsd:annotation>
      <xsd:documentation>The method of identifying telephone trunks in the public network of North America, called World Numbering Zone 1 by the ITU-T. the Plan has 3 ways of identifying phone numbers in North America -- a 3-digit area code, a 3-digit exchange or central office code, and 4-digit subscriber code.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MobileEquipmentIdentifierDec">
    <xsd:annotation>
      <xsd:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe.   

This is the 18 character decimal representation.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="18" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MobileEquipmentIdentifierHex">
    <xsd:annotation>
      <xsd:documentation>A Mobile Equipment IDentifier (MEID) is a globally unique number for a  physical piece of mobile station equipment. Equipment identifiers are 'burned' into a CDMA device, and should be resistant to modification.  The ESN will migrate to the MEID with assignments anticipated to begin in the 2004 to 2005 timeframe.  This is the 14 character hexidecimal representation.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="14" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MobileStationIdentificationNumber">
    <xsd:annotation>
      <xsd:documentation>Mobile Station Identification Number (MSID) is the internal identifying number for a CDMA handset's phone number under Local Number Portability.  Mobile Station Identification Number stays with the carrier while the MDN stays with the customer.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MoreRecordsAvailableFlag">
    <xsd:annotation>
      <xsd:documentation>More Records Available Flag indicates that there are more records available for retrieval.  

Values:
TRUE = 1 (there are more records available for retrieval) 
FALSE = 0 (there are no more records available for retrieval)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="BooleanFlag" />
  </xsd:simpleType>
  <xsd:simpleType name="NetworkAccessActivationFromDate">
    <xsd:annotation>
      <xsd:documentation>Network Access Activiated From Date holds the first calendar day the set of implemented components were active on the network.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="NpaNumber">
    <xsd:annotation>
      <xsd:documentation>Numbering Plan Area (NPA) Number is one of the geographical divisions of the United States, Canada, Bermuda, the Caribbean, Northwestern Mexico, Alaska, Hawaii, within which no two telephones will have the same seven-digit telephone number. (An NPA is represented by an Area Code.)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PartyOtherIdValue">
    <xsd:annotation>
      <xsd:documentation>Party Other Identifier Value represents the string of characters and/or numbers of the PARTY OTHER IDENTIFIER.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PortDueDate">
    <xsd:annotation>
      <xsd:documentation>Port Due Date is the calendar date on which the Port is Due.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="PortingStatusCode">
    <xsd:annotation>
      <xsd:documentation>Porting Status Code is used to indicate the status of a porting request for a specific MDN. If a PAI cannot be found spaces will be returned. Valid values are:
PIP
PINP
POND
PCP
PCNP
PSP
PSNP
PSCP
PSCNP
PNDS
NCPA</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PIP" />
      <xsd:enumeration value="PINP" />
      <xsd:enumeration value="POND" />
      <xsd:enumeration value="PCP" />
      <xsd:enumeration value="PCNP" />
      <xsd:enumeration value="PSP" />
      <xsd:enumeration value="PSNP" />
      <xsd:enumeration value="PSCP" />
      <xsd:enumeration value="PSCNP" />
      <xsd:enumeration value="PNDS" />
      <xsd:enumeration value="NCPA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProductDeploymentEffectiveFromDate">
    <xsd:annotation>
      <xsd:documentation>Product Deployment Effective From Date holds the first calendar day the PRODUCT is assigned to the specified SUBSCRIPTION.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ProductDeploymentEffectiveThruDate">
    <xsd:annotation>
      <xsd:documentation>Product Deployment Effective Thru Date holds the last calendar day the PRODUCT is assigned to the specified SUBSCRIPTION.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ProductDescription">
    <xsd:annotation>
      <xsd:documentation>Product Description contains a brief textual description of the PRODUCT.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProductId">
    <xsd:annotation>
      <xsd:documentation>Product Identifier represents the identifier used for a product offering.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReserveEffectiveFromDate">
    <xsd:annotation>
      <xsd:documentation>The date when the subscription was reserved. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ReserveEffectiveFromTime">
    <xsd:annotation>
      <xsd:documentation>The time when the subscription was reserved. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="EffectiveTime" />
  </xsd:simpleType>
  <xsd:simpleType name="ReservedSubscriptionId">
    <xsd:annotation>
      <xsd:documentation>The ID of the reserved subscription. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="IdentifierString">
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RowCountNumber">
    <xsd:annotation>
      <xsd:documentation>Number of records being returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10" />
      <xsd:fractionDigits value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SaleEffectiveFromDate">
    <xsd:annotation>
      <xsd:documentation>Sale Effective From date is the date that the sale is made from the customers prespecive.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ServiceAttrTypeCode">
    <xsd:annotation>
      <xsd:documentation>Indicates if the access channel assignment is an NAI service attribute that requires special processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceCode">
    <xsd:annotation>
      <xsd:documentation>This is a type of ProductId that uniquely identifies a price plan or one of the services in that price plan.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ProductId">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceDescription">
    <xsd:annotation>
      <xsd:documentation>Service Description</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceOrderCode">
    <xsd:annotation>
      <xsd:documentation>Service Order Code identifies a Service order.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ProductId">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceOrderDescription">
    <xsd:annotation>
      <xsd:documentation>Service Order Description.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="ProductDescription">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceOrderEffectiveFromDate">
    <xsd:annotation>
      <xsd:documentation>Service Order Effective Date holds the calendar day when a service order becomes active.

Elements declared to be of type date must follow this form:  
CCYY-MM-DD
range for CC is: 00-99
range for YY is: 00-99
range for MM is: 01-12
range for DD is: 
01-28 if month is 2
01-29 if month is 2 and the gYear is a leap gYear
01-30 if month is 4, 6, 9, or 11
01-31 if month is 1, 3, 5, 7, 8, 10, or 12

Example: 1999-05-31 represents May 31, 1999</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="ServiceOrderStatusCode">
    <xsd:annotation>
      <xsd:documentation>Service order code status.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="StatusCode">
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServiceTypeCode">
    <xsd:annotation>
      <xsd:documentation>Identifies a service that requires an access number.
Example values:
 80 (access number required)
 82 (access number not required)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatusCode">
    <xsd:annotation>
      <xsd:documentation>Status Code</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SubscriptionTypeCd">
    <xsd:annotation>
      <xsd:documentation>The subscription type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SwitchStautsCode">
    <xsd:annotation>
      <xsd:documentation>The status of the access number assignment in the network. Since activations in the network are not done real time, the value in P2K may indicate that the access number is active when in fact the access number has not yet been activated in the network. 
Values:  H (hotlined), D (disabled), E (enabled), S (suspended for NPD), P (pending), R (reserved). </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>