soaptest2/Service References/subscriptionDetailService/v15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://integration.sprint.com/common/ErrorDetailsV2.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.sprint.com/common/ErrorDetailsV2.xsd" version="1.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProviderErrorType">
    <xs:annotation>
      <xs:documentation>Structure to hold EAI or back-office detail error information. It is not intended for programmatic decisions unless specific API documentation allows, but to facilitate troubleshooting by logging verbose error conditions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="providerErrorCode">
        <xs:annotation>
          <xs:documentation>Numeric encoding of the error.  Intended to be consumed programatically.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:ProviderErrorCodeType">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="providerErrorText">
        <xs:annotation>
          <xs:documentation>Human-readable description of the error.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:ProviderErrorTextType">
            <xs:maxLength value="1024" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="errorSystem" type="tns:ErrorSystemType" />
      <xs:element minOccurs="0" name="errorTransactionId" type="tns:ErrorTransactionIdType" />
      <xs:element minOccurs="0" name="errorProgramId" type="tns:ErrorProgramIdType" />
      <xs:element minOccurs="0" name="fieldInError" type="tns:FieldInErrorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="errorDetailItem" type="tns:ErrorDetailsType" />
  <xs:complexType name="ErrorDetailsType">
    <xs:annotation>
      <xs:documentation>Defines the customization of the SOAP 1.1 Fault details element.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1000" name="providerError" type="tns:ProviderErrorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProviderErrorCodeType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ProviderErrorTextType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorProgramIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorTransactionIdType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FieldInErrorType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ErrorSystemType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>